.Searchbar {
	position: absolute;
	top: 350px;
	width: 100%;
	& .search {
		width: 70%;
		height: 3.5em;
		border-radius: 5px;
		margin: auto;
		background-color: white;
		display: flex;
		align-items: center;
		& .searchIcon {
			margin-left: 10px;
		}
		& input {
			outline: none;
			border: none;
			top: 100px;
			flex: 1;
        }
        & button {
            outline: none;
            border: none;
            background-color: #555;
            color: #fff;
            margin-right: 15px;
            height: 65%;
            font-size: 1.2em;
            font-weight: 500;
            padding: 0 15px;
            border-radius: 5px;
        }
	}
}
